.btn-outline-success {
    --bs-btn-color: #4f3d33;
    --bs-btn-border-color: #4f3d33;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4f3d33;
    --bs-btn-hover-border-color: #4f3d33;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4f3d33;
    --bs-btn-active-border-color: #4f3d33;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #4f3d33;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #4f3d33;
    --bs-gradient: none;
}

.card {
    max-width: 18rem;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #4f3d33;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.first-line {
   border-bottom: 1px solid #392d23;
}

.second-line a {
   color: white;
   text-decoration: none;
}

@media screen and (max-width:48rem) {
    .first-line {
        text-align: center;
    }
    .second-line {
        padding-left: 2rem;
        padding-right: 2rem;
        border-bottom: 1px solid #392d23;
    }
}


.third-line {
    display: none;
}

@media screen and (max-width:48rem) {
    .third-line {
        display: block;
        padding-top: 1rem;
    }
    
}
@media screen and (max-width:48rem) {
    .container.mb-5 { text-align: center; }
    .container.mb-5 .card { margin-left: auto; margin-right: auto; }
}