.btn-outline-success {
    --bs-btn-color: #4f3d33;
    --bs-btn-border-color: #4f3d33;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4f3d33;
    --bs-btn-hover-border-color: #4f3d33;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4f3d33;
    --bs-btn-active-border-color: #4f3d33;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #4f3d33;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #4f3d33;
    --bs-gradient: none;
}